$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;
$headerHeight:0;
$navTopHeight:80px;

$reorganizeNavAt:800px;

header {
	@include transform( translateZ(0) );
	position: fixed;
	top:0; left:0; right:0;
	z-index: 11;
}

.header-logo { 
	position: absolute;
	width: 120px; 
	top: 13px; left: 10px;
	display: block;
	img { 
		width: 100%; 
		display: block;
	}
}

@media screen and (max-width: $reorganizeNavAt) {

	.header-logo {
		width: 50px;
		background-image: url(../images/hanlon-logo-sm-triangle.svg) !important;
		top: 28px;
	}
	
}

@media screen and (max-width: $collapseNavAt) {
	header { position: absolute; }
	.header-logo {
		margin: 10px auto;
		position: static;
		width: 180px;
		overflow: hidden;
		background-image: url(../images/hanlon-logo-sm-alt.svg) !important;
	}
}