.toggle-nav { 
	@include transform( translateZ(0) );
	outline: none;
	display:none;
	color: #fff;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top:5px; left: 5px;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 600;
	@include transition( $smallNavDuration all $smallNavEasing 0s );
	text-transform: uppercase;
	
	.show-nav & { top: 5px; }
	.small-nav & { top:18px; }
	
	@media screen and (max-width: $collapseNavAt) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $primaryColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $primaryColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $primaryColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $primaryColor;
			@include transform-origin( top left );
			.show-nav & {
				left: -3px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { 
				bottom:-1px;
				@include transform( rotate3d(0,0,1,-45deg) ); 
			}
		}
		
	}
	
}

.nav-wrap {
	@include transform( translateZ(0) );
	position: fixed;
	top:0; left:0; right:0;
	z-index: 10;
	background: #fff;
	box-shadow: 0 4px 4px rgba(0,0,0,0.2); 
}

.nav {
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
}

nav {
	padding-left: 150px;
	
	&>ul { 
		@include display( flex );
		&>li {
			position: relative;
			&>a {
				display: block;
				text-transform: uppercase;
				line-height: 80px;
				padding: 0 12px;
				color: $darkColor;
			}
			
			&:hover {
				&>a {
					background: $secondaryColor;
					color: #fff;
				}
				
				.nav-dd {
					@include transform( none );
				}
			}
		}
	}
	
}

.nav-dd {
	position: absolute;
	top: 100%; left:0;
	@include transition( all 0.2s $ease-in-out-sine );
	@include transform-origin( center top );
	@include transform( scale(1,0) );
	background: $secondaryColor;
	color: #fff;
	@include display( flex );
	@include flex-flow( row wrap );
	padding: 20px;
	min-width: 350px;
}

$navDDBorderStyle: 1px solid rgba(0,0,0,0.2);

.nav-dd-links {
	font-size: 14px;
	margin-left: -10px;
	
	a {
		color: #fff;
		display: block;
		padding: 5px 10px;
		&:hover {
			background: rgba(0,0,0,0.2);
		}
	}
}

.nav-dd-stats {
	border-left: $navDDBorderStyle;
	margin-left: 20px;
	padding-left: 20px;
	@include display( flex );
	@include flex-flow( column nowrap );
	@include justify-content( center );
}

.nav-dd-stat {
	font-size: 42px;
	font-weight: 300;
	line-height: 1;
	span { 
		display: block;
		font-style: italic; 
		font-size: 14px;
	}
	
	& + & {
		margin-top: 20px;
		padding-top: 20px;
		border-top: $navDDBorderStyle;
	}
	
}

.nav-dd-full {
	font-size: 14px;
	width: 100%;
	@include flex( 0 0 100% );
	padding: 10px 0 0;
	margin: 10px 0 0;
	border-top: $navDDBorderStyle;
	@include display( flex );
	@include align-items( center );
	
	.button {
		@include flex( 0 0 auto );
		margin-right: 15px;
	}
	
}

.nav-meta {
	text-align:right;
	color: $secondaryColor;

	.contact-item {
		width: 30px;
		display:inline-block;
		text-align:center;
		position: static;
		cursor: pointer;
		vertical-align: middle;
		
		&:before {
			font-size: 24px;
		}
	}
	
}

.nav-meta-phone {
	display: block;
	font-weight: 600;
	margin: 0 0 5px;
}

.nav-meta-login {
	text-transform: uppercase;
	display: inline-block;
	border-radius: 4px;
	padding: 4px 8px;
	vertical-align: middle;
	color: $secondaryColor;
	font-weight: 600;
	font-size: 14px;
	&:hover {
		background: $secondaryColor;
		color: #fff;
	}
}

.contact-item:hover .contact-card {
	@include transform( none );
}

.contact-card {
	line-height: 1.4;
	position: absolute;
	font-size: 14px;
	top: 100%; right:0;
	background: #fff;
	width: 250px;
	color: $bodyContentColor;
	text-align: left;
	@include transform-origin( top center );
	@include transform( scale(1,0) );
	@include transition( 0.2s transform $ease-in-out-sine );
	box-shadow: 0 4px 4px rgba(0,0,0,0.4);
	border-radius: 0 0 8px 8px;
	cursor: default;
	
	div { padding: 20px 30px; }
	
	.title { 
		font-weight: 600; 
		color: $secondaryColor;
		display: block;
		font-size: 16px;
	}
	
	address { margin: 5px 0 10px; }
	
	.phone {
		display: block;
		span {
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			width: 40px;
			font-weight: 600; 
			color: $secondaryColor;
		}
	}
	
}

/* start to collapse nav at 800px - allows us to get close to 650px without fully collapsing the nav */
@media screen and (max-width: $reorganizeNavAt) {
	nav {
		padding-left: 50px;
	}
	
	header .sw { max-width: 100%; }
}

/* collapsed nav */
$collapseNavWidth: 280px;
.header-logo,
.page-wrapper {
	@include transition( 0.4s transform $ease-in-out-sine !important );
}

.show-nav {

	.page-wrapper { box-shadow: 0 0 12px rgba(0,0,0,0.4); }

	.header-logo,
	.page-wrapper {
		@include transform( translate3d($collapseNavWidth,0,0) );
	}
}

.mobile-nav-bg { display: none; }
.show-search,
.show-nav { height: 100vh; overflow: hidden;}
@media screen and (max-width: $collapseNavAt) {

	.mobile-nav-bg { 
		background: rgba(0,0,0,0.8); 
		position: absolute; 
		top:0; left:0; right:0; bottom:0; 
		height: 10000px;
		@include transform( translateZ(0) );
		z-index: -1; 
		display: block; 
		visibility: hidden; 
		opacity:0; 
		cursor: pointer;
		@include transition( all 0.4s $ease-in-out-sine );
		
		.show-nav & {
			opacity:1; 
			visibility: visible; 
			z-index: 21; 
			cursor: pointer;
		}
		
	}	

	.toggle-nav { display: block; z-index: 20;}
	.nav-wrap { 
		max-width: 100%; 
		z-index: 0;
		position: fixed;
		right: auto; bottom:0;
		height: 100vh;
		overflow-y: auto;
		padding-top: 50px;
		-webkit-overflow-scrolling: touch;
		width: $collapseNavWidth;
		background: $darkColor;
	}

	.nav { 
		max-width: 100%; 
		display:block;
	}
	
	nav {
		padding:0;
		&>ul { 
			display: block; 
			&>li {
				&>a { 
					line-height:1; 
					padding: 14px 8px;
					background: lighten($darkColor,5);
					color: #fff;
				}
			}
		}
	}
	
	.nav-dd { 
		position: static; 
		@include transform( none );
		display:block;
		min-width:0;
		padding:0;
		
		@include t-fa();
		&:before {
			content: $fa-var-angle-down;
			position: absolute;
			top:10px; right:10px;
			color: #fff;
		}
		
	}
	
	.nav-dd-stats,
	.nav-dd-full { display: none; }
	
	.nav-dd-links {
		margin:0;
		a { 
			padding: 12px 12px 12px 20px; 
		}
	}

	.nav-meta {
		margin-top: 10px;
		text-align:center;
		color: #fff;
	}
	
	.nav-meta-login {
		display: block;
		color: #fff;
		padding: 8px;
		margin: 10px 0 0;
	}
	
	.nav-meta .contact-item {
		width: auto;
		display: block;
		
		&:before { display: none; }
	}
	
	.contact-card {
		position: static;
		width: auto;
		@include transform( none );
		border-radius:0;
	}

}