$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	padding-bottom: 10px;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	
	.sw {
		padding: 20px 0;
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover;
}

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

/* theme specific footer */
footer {
	border-top: 1px solid #fff;
	padding-top: 25px;
	
	.social a {
		font-size: 32px;
		width: 32px; height: 32px;
		border-radius: 50%;
		&:hover { 
			background: $secondaryColor; 
			&:before { color:$lightColor !important; }
		}
	}
	
}

.copyright {
	text-transform: uppercase;
	color: $mediumColor;
	text-align:center;
	
	li { line-height: 1.8; }
	
	a { 
		color: $mediumColor; 
		&:hover { color: $lightColor; }
	}
	
	.sw {
		@include justify-content( center );
	}
	
	ul {
		@include flex( 0 0 100% );
	}
	
}

.footer-blocks {
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( space-between );
	@include align-items( center );
}

.footer-block {
	@include flex( 1 1 0 );
}

.footer-nav { 
	text-transform: uppercase;
	@include display( flex ); 
	@include flex-flow( row wrap );
	a { 
		display: block;
		padding: 8px 16px;
		&:hover {
			background: $secondaryColor;
		}
	}
}

.footer-address {
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.8;
	margin-bottom: 15px;
}

.footer-address-logo {
	width: 140px;
	display: block;
	margin: 0 auto 15px;
	img { width: 100%; }
}


.footer-meta-nav {
	@include display( flex );
	@include justify-content( flex-end );
	@include align-items( center );
	@include order( 99 );
}

@media screen and (max-width: 1399px) {
	
	.footer-block {
		@include flex( 1 1 auto );
	}
	
	.footer-meta-nav {
		@include order( inherit );
	}
	
	.footer-address {
		@include flex( 1 1 100% );
		margin-top: 25px;
	}
	
}

@media screen and (max-width: 850px) {
	.footer-blocks,
	.footer-block {
		display: block;
	}
	
	.footer-nav {
		@include justify-content( center );
	}
	
	footer {
		.social {
			@include justify-content( center );
		}
	}
}

@media screen and (max-width: 599px) {
	.footer-nav,
	.footer-nav li { display: block; }
}