.fp-grid {
	.col { 
		width: 25%;
		@media screen and (max-width: 1100px) { & { width: 50%; } }
		@media screen and (max-width: 800px) { & { width: 100%; } }
	}
	
}

.fp-item {
	padding: 10px;
	background: #fff;
	color: $bodyContentColor;
}

.fp-price {
	@include display( flex );
	@include align-items( center );
	@include justify-content( space-between );
	background: $secondaryColor;
	color: $lightColor;
	padding: 5px 10px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 0 8px;
}

.fp-address {
	font-size: 14px;
}

.fp-address-street {
	font-weight: 600;
	text-transform: uppercase;
}

.fp-address-city {
	display: block;
}

.fp-brokerage {
	font-size: 12px;
}

.fp-specs {
	@include display( flex );
	margin: 10px 0;
	padding: 0 0 2px;
	border-bottom: 1px solid $mediumColor;
}

.fp-spec {
	@include flex( 1 1 auto );
	font-weight: 600;
	line-height: 1.2;
	font-size: 14px;
	padding: 0 5px 5px;
	text-align:center;
	span { display: block; }
	& + & { border-left: 1px solid $mediumColor; }
}

.fp-img {
	margin: 0 auto;
	&:after {
		display: block;
		content: "";
		padding: 0 0 75%;
	}
}

.fp-buttons {
	@include display( flex );
	margin-top: 10px;
	.button { @include flex( 1 1 auto ); }
	.button + .button { margin-left: 10px; }
}