.sign-in-modal-wrap {
	width: 100%;
	padding: 20px;
	max-width: 860px;
	margin: 0 auto;
	background: #fff;
	position: relative;
}

.sign-in-modal {
	display: table;
	
	&>div {
		padding: 20px;
		display: table-cell;
		width: 50%;
		&:first-child { border-right: 1px solid rgba(0,0,0,0.2); }
	}
	
}

.sign-in-buttons {

	margin: 0 0 20px;

	.button {
		@include display( flex );
		@include align-items( center );
		width: 250px;
		text-transform: none;
		text-align:left;
		margin: 0 0 4px;
		padding-left: 4px;
		
		&:before {
			@include flex( 0 0 auto );
			font-size: 18px;
			text-align: center;
			width: 30px;
			padding: 3px 0;
			margin-right: 6px;
			border-right: 1px solid rgba(0,0,0,0.2);
		}
		
	}

}

.sign-in-disclaimer {
	display: block;
	margin: 30px 0 0;
}

@media screen and (max-width: 800px) {
	.sign-in-modal-wrap { padding:0; }
	.sign-in-modal { 
		@include display( flex );
		@include flex-flow( row wrap );
		&>div {
			@include flex( 0 0 100% );
			display: block;
			
			&:first-child { @include order( 99 ); }
		}
	}
}